.section-team__social {
  display: inline-flex;
  list-style: none;
  padding-left: 32px;
  padding-right: 32px;
}

.section-team__card:not(:last-child) {
  margin-right: 10px;
}

.section-team__link {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__link:hover,
.section-team__link:focus,
.section-team__link:active {
  fill: #ffffff;
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}